/* google font
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
}

.gridContainer {
    display: grid;
    grid-template-columns: 9% 68% 14% 9%;
    grid-template-rows: auto;
    grid-template-areas: "top top top top" "leftSpace main aside rightSpace" "footer footer footer footer";
}

.gridItem-top {
    grid-area: top;
}

.gridItem-leftSpace {
    grid-area: leftSpace;
}

.gridItem-main {
    grid-area: main;
}

.grid-item-footer {
    grid-area: footer;
}

.gridItem-aside {
    grid-area: aside;
    border-color: #e1e1e1;
    padding-top: 50px;
    padding-bottom: 50px;
    border-left-style: solid;
    border-left-width: 1px;
    overflow: hidden;
    display: block;
    margin-top: 85px;
}

.gridItem-rightSpace {
    grid-area: rightSpace;
}

h1.mainTitle {
    padding-left: 10px;
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    margin-top: 80px;
}

.subtitle {
    margin-top: 20px;
    color: rgb(167, 167, 167);
    font-size: 0.7em;
    /* font-family: 'Oswald', sans-serif; */
}

.flexContainer.selectCircuit {
    display: flex;
    height: 500px;
    /* background-color: grey;  */
    flex-flow: row nowrap;
    width: 800px;
}


.posAnalysis {
    /* display: flex; */
    height: 500px;
    /* background-color: grey;  */
    /* flex-flow: row nowrap; */
    width: 800px;
}



/* for thin filter */

.filter-1 {
    width: 200px;
}

.filter-2 {
    width: 150px;
}

.map {
    width: 450px;
}

.qv-object {
    border: none !important;
}

.fab.fa-youtube {
    color: grey;
}



/* hide all content if no circuit and session is selected */
.hideAllIfNoRaceSelected, .hideAllIfNoRaceSelected * {
    display: none;
}




/* ===================================================== */

/* PARALLAX VIZLIB */

.parallax_vizlib {
    padding-top: 100px;
    opacity: 0.4;
}

#vizlibCompImg {
    padding-top: 110px;
}

.parallax-container {
    height: 250px;
}

.sepia {
    filter: sepia(100%);
}

/* ===================================================== */

/* ===================================================== */

/* STATS */

.statsSheet {
    height: 700px;
    width: 800px;
}


.flexContainer-stats-1 {
    display: flex;
    flex-flow: row nowrap;
    height: 500px;
    width: 800px;
}

.stats-left-elm {
    flex: 0 1 auto;
}

.stats-right-elm {
    flex: 0 1 auto;
    width: 300px;
    display: flex;
    flex-flow: column nowrap;
    /* align-items: flex-end; */
    justify-content: flex-start;
}

.stats-right-elm>* {
    height: 10px;
    margin: 0;
    padding: 0;
}

/* ================================================== */

.seperator {
    margin: 75px 0 25px 0;
    border-bottom: .5px solid lightgrey;
}

.seperatorImg {
    margin: 0px 0 25px 0;
    border-bottom: .5px solid lightgrey;
}

#welcome {
    margin: 10px 0 0 13px;
}

#welcome>h1 {
    font-size: 1.4em;
    margin-top: 50px;
}

/* top header of each article */

article>h1.title {
    margin: 30px 0 30px 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.8em;
    padding: 0 0 0 10px;
    color: darkred;
    /* like qlik objects  */
}

article>h1.action {
    margin: 150px 0 0px 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.8em;
    padding: 0 0 0 10px;
    color: darkred;
}


.collapsible-body {
    padding: 0;
    margin: 0;
    height: 200px;
}

/* =================================================== */

/* RACE CLASSIFICATION */

/* CARDS */

.raceClassFlexContainer {
    display: flex;
}

.cardFastLap {
    width: 250px;
    height: 300px;
    position: relative;
}

.iconbox_top {
    float: none;
    position: absolute;
    left: 50%;
    top: 18px;
    margin: 0 0 0 -26px;
    padding: 15px;
    border-radius: 100px;
    
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    font-size: 30px;
    line-height: 34px;
    background-color: rgb(221, 51, 51);
    font-family: 'Oswald', sans-serif;
    color: white;
}


/* =================================================== */
/* MODAL */

.modal-content {
    position: relative;
}
.modal-content h4 {
    font-family: 'Lato', sans-serif;
    font-size: 2.5em;
    margin-top: 10px;
}
.modal-content {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    margin-left: 0px;
}
.textModal {
    font-size: 1.1em;
    margin-left: 5px;
    margin-top: 30px;
}
.modalImg {
    position: absolute;
    top: 10px;
    right: 30px;

}
#modalImg {
    height: 40px;
    opacity: .3;
}
/* =================================================== */

/* SCROLLSPY */

/* position fixed is actually not inside the aside (visually) */

#scrollspy {
    width: 160px;
    position: fixed;
    z-index: 1;
    /* Stay on top */
    top: 37%;
    right: 4%;
    /* right: 100px; */
    overflow-x: hidden;
    /*Disable horizontal scroll */
}



/* Car Filter left thin, Chart right broad */
/* SAFETY CAR POSITION  and PIT STOP  and DRIVER PERFORMANCE*/
.flexContainer-filterChart {
    display: flex;
    flex-flow: row nowrap;
    height: 500px;
    width: 800px;
}

.ItemFilter {
    width: 150px;
    height: 350px;
}

.ItemChart {
    width: 650px;
}

/* =================================================== */

/* NOT WORKING!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* PUSHPIN (qlik selection always on top) */

/* Only necessary for window height sized blocks. */

html, body, .pushpinElm {
    height: 100%;
}

/* Class for when element is above threshold */

.pin-top {
    position: relative;
}

/* Class for when element is below threshold */

.pin-bottom {
    position: relative;
}

/* Class for when element is pinned */

.pinned {
    position: fixed !important;
}

/* ------------------------------------------------- */

/* ABOVE NOT WORKING */

/* USE THIS INSTEAD */

/* fixedHeaderOnScroll */

/* The sticky class is added to the header with JS when it reaches its scroll position */

.fixedHeaderOnScroll {
    z-index: 1;
    background-color: grey;
    overflow: hidden;
    height: 38px;
    max-width: 100%;
    /* border-radius: 10px; */
    background-color: rgb(75, 68, 68);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}

#companyLogos {
    /* background-color: red; */
    height: 100%;
    padding: 100px;
}

/* default: 500px */

/* .parallax-container {
    height: 500px;
  } */

#companyLogosRow {
    height: 60px;
    margin-left: 10px;
    /* padding-top: 10px; */
    /* border-top: 0.5px solid grey; */
}

/* --------------------------------------------- */

/* C1 WEBSITE HEADER */

.c1websiteHeader-top {
    min-height: 30px;
    margin-bottom: -1;
    background-color: #f8f8f8;
    box-sizing: border-box;
    display: block;
    color: black;
}

.c1websiteHeader-top::selection {
    background-color: #dd3333;
    color: #ffffff;
}

.c1websiteHeader-middle {
    clear: both;
    position: relative;
    box-sizing: border-box;
    display: block;
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    /* width: 100%; */
    display: flex;
    /* TODO NOT WORKING */
    justify-content: space-between;
}

.rightSideIcons {
    background-color: yellow;
}

.c1websiteHeader-middle nav ul li {
    height: 70px;
    line-height: 70px;
    /* color: #7d7d7d; */
}

.c1websiteHeader-middle a {
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, border-color 0.4s ease-in-out;
    display: block;
    text-decoration: none;
    /* padding: 0 13px; */
    /* font-weight: normal;
    font-size: 12px; */
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
}

.c1websiteHeader-middle>nav>ul>li>a::selection {
    background-color: #dd3333;
    color: #ffffff;
}

/* OVERRIDE MATERIALIZECSS THEME */

nav {
    background-color: white;
    box-shadow: none;
    /* display: block; */
}

.c1websiteHeader-middle a:hover {
    background-color: #dd3333;
    color: #ffffff;
}

nav>ul>li>a {
    color: #7d7d7d;
}

ul>li>a>span {
    border-left: solid #d1d1d1 1px;
    vertical-align: baseline;
    box-sizing: border-box;
    padding-left: 13px;
    margin-left: -13px;
}

.forum {
    border-left: none;
}

#c1websiteHeader-logo {
    max-height: 100%;
    max-width: 100%;
}

.logoImg {
    height: 70px;
    width: 500px;
    flex: 1;
    margin-left: 25px;
}

.topBarMenu {
    text-align: right;
    max-width: 800px;
    margin-right: -80px;
}

.searchIcon>a>i, .basketIcon>a>i {
    font-size: 150%;
    /* padding: */
}

.c1websiteHeader-lower {
    background-color: #191919;
    color: #ffffff;
    border-color: #444444;
    vertical-align: baseline;
    height: 57px;
    position: relative;
}

.c1websiteHeader-lower>h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    margin: 0;
    position: absolute;
    top: 50%;
    margin-left: 100px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.c1websiteHeader-lower>p {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 100px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.searchIcon {
    color: #7d7d7d;
    font-size: 130%;
    margin-top: 3px;
}

.cartIcon {
    margin-top: 6px;
    color: black;
    border-right: .5px solid #d8d6d6;
    border-left: .5px solid #d8d6d6;
    padding: 0 35px 0 35px;
}

.socialIcon {
    color: #7d7d7d;
    font-size: 100%;
}

.youtubeIcon {
    opacity: 0.5;
}

#youtubeIcon {
    height: 16px;
    color: #7d7d7d;
}

.socialBar {
    text-align: right;
    margin-right: 20px;
    padding-top: 4px;
}

.socialBar a {
    width: 29px;
    height: 30px;
    padding: 0 10px 0 5px;
    border-right: .5px solid #d8d6d6;
}


/* CHANGES  */
/* #positionAnalysis {
    width: 500px;
} */


/* TODO: NOT WORKING */

.lastSocialItem {
    border-right: none;
}

.socialBar li {
    display: inline;
}

.hideMe {
    /* visibility: hidden; */
    display: none;
}

/* --------------------------------------------- */

/* ================================================= */

/* MEDIA QUERIES */

/* hide scrollspy */

@media only screen and (max-width: 900px) {
    #scrollspy {
        visibility: hidden;
    }
    .gridItem-aside {
        border: none;
    }
}