* {
    margin: 0;
    padding: 0;
}

/* google font
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
*/

.gridContainer {
    display: grid;    
    grid-template-columns: 8% 50% 34% 8% ;
    grid-template-rows: auto;
    grid-template-areas: 
        "top top top top"
        "leftSpace main aside rightSpace";
}

.gridItem-top {
    grid-area: top;
}

.gridItem-leftSpace {
    grid-area: leftSpace;
}

.gridItem-main {
    grid-area: main;
}

.gridItem-aside {
    grid-area: aside;
}

.gridItem-rightSpace {
    grid-area: rightSpace;
}


body {
    /* width: 800px; */
    /* margin: auto; */
}

/* like qlik objects  */

h1.mainTitle {
    padding-left: 10px;
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    margin-top: 150px;
}

.flexContainer.selectCircuit {
    display: flex;
    height: 500px;
    /* background-color: grey;  */
    flex-flow: row nowrap;
    width: 800px;
}

/* for thin filter */

.filter-1 {
    width: 200px;
}

.filter-2 {
    width: 150px;
}

.map {
    width: 450px;
}

.qv-object {
    border: none !important;
}

/* ================================================== */

.seperator {
    margin: 100px 0 25px 0;
    border-bottom: .5px solid lightgrey;
}

/* top header of each article */

article>h1.title {
    margin: 40px 0 30px 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.8em;
    padding: 0 0 0 10px;
    color: darkred;
    /* like qlik objects  */
}

article>h1.action {
    margin: 150px 0 0px 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.8em;
    padding: 0 0 0 10px;
    color: darkred;
    /* like qlik objects  */
}

.collapsible-body {
    padding: 0;
    margin: 0;
    height: 300px;
}

/* =================================================== */

/* SCROLLSPY */

#scrollspy {
    width: 160px;
    position: fixed;
    z-index: 1;
    /* Stay on top */
    top: 30%;
    right: 0;
    overflow-x: hidden;
    /*Disable horizontal scroll */
}

/* =================================================== */

/* NOT WORKING!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* PUSHPIN (qlik selection always on top) */

/* Only necessary for window height sized blocks. */

html, body, .pushpinElm {
    height: 100%;
}

/* Class for when element is above threshold */

.pin-top {
    position: relative;
}

/* Class for when element is below threshold */

.pin-bottom {
    position: relative;
}

/* Class for when element is pinned */

.pinned {
    position: fixed !important;
}

/* ------------------------------------------------- */

/* ABOVE NOT WORKING */

/* USE THIS INSTEAD */

/* fixedHeaderOnScroll */

/* The sticky class is added to the header with JS when it reaches its scroll position */

.fixedHeaderOnScroll {
    z-index: 1;
    background-color: grey;
    overflow: hidden;
    height: 38px;
    max-width: 100%;
    /* border-radius: 10px; */
    background-color: rgb(75, 68, 68);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}

#companyLogos {
    /* background-color: red; */
    height: 100%;
    padding: 100px;
}

/* default: 500px */

/* .parallax-container {
    height: 500px;
  } */

#companyLogosRow {
    height: 60px;
    margin-left: 10px;
    /* padding-top: 10px; */
    /* border-top: 0.5px solid grey; */
}

/* --------------------------------------------- */

/* C1 WEBSITE HEADER */

.c1websiteHeader-top {
    min-height: 30px;
    margin-bottom: -1;
    background-color: #f8f8f8;
    box-sizing: border-box;
    display: block;
    color: black;
}

.c1websiteHeader-top::selection {
    background-color: #dd3333;
    color: #ffffff;
}

.c1websiteHeader-middle {
    clear: both;
    position: relative;
    box-sizing: border-box;
    display: block;
    background-color: #ffffff;
    color: #000000;
}

.c1websiteHeader-middle nav ul li {
    height: 70px;
    line-height: 70px;
    color: #7d7d7d;
}

.c1websiteHeader-middle a {
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, border-color 0.4s ease-in-out;
    display: block;
    text-decoration: none;
    /* padding: 0 13px; */
    /* font-weight: normal;
    font-size: 12px; */
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
}

.c1websiteHeader-middle>nav>ul>li>a::selection {
    background-color: #dd3333;
    color: #ffffff;
}

/* OVERRIDE MATERIALIZECSS THEME */

nav {
    background-color: white;
    box-shadow: none;
    /* display: block; */
}

.c1websiteHeader-middle a:hover {
    background-color: #dd3333;
    color: #ffffff;
}

nav>ul>li>a {
    color: #7d7d7d;
}

a>span {
    border-left: solid #d1d1d1 1px;
    vertical-align: baseline;
    box-sizing: border-box;
    padding-left: 15px;
    text-align: center;
}

.forum {
    border-left: none;
}

#c1websiteHeader-logo {
    float: left;
    margin-right: 80px;
    margin-left: 25px;
}

.c1websiteHeader-lower {
    background-color: #191919;
    color: #ffffff;
    border-color: #444444;
    vertical-align: baseline;
    height: 57px;
    position: relative;
}

.c1websiteHeader-lower>h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    margin: 0;
    position: absolute;
    top: 50%;
    margin-left: 100px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.c1websiteHeader-lower>p {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 100px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
/* --------------------------------------------- */